*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.menu1{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.strip-container{
    color: white;
    
}

.strips{
    display: flex;
    margin-left: 175px;
    justify-content: space-around;
    margin-top: 80px;
  /*  background-color: bisque;*/
    margin-right: 100px;
    padding: 1.75rem;
    box-shadow: 0 1rem 2rem rgba(82,80,80,0.677);

}

.strip-details{
    display: flex;
    gap: 30px;
    color: black;
    background-color: white;
    border-top: 2rem;
    border-style:initial;
    box-shadow:  0 1rem 2rem rgba(82,80,80,0.677);
}

.strip-title{

}


